
#baseInfoTable table 
{
    width: 100%;
}
#baseInfoTable tr 
{
    alignment-adjust: central;
    height: 20px;    
}
#baseInfoTable td 
{
    width: 300px; 
}

#baseInfoContainer
{
    padding-bottom: 50px;

}
#footInfo
{
    width: 60%;
}
table.allTable 
{
    width: 60%;
}
tr.allTable  
{
    alignment-adjust: central;

}
td.allTable  
{
    width: 300px; 
}



.actionButton
{
    text-align: center;    
}

a.k-button.k-edit-button
{
    padding-top: 7px;
    width: 70px;
    height: 40px;
   
}

a.k-button.k-delete-button
{
    padding-top: 7px;
    width: 80px;
    height: 40px;
}

a.k-button.k-update-button
{
    padding-top: 7px;
    width: 80px;
    height: 40px;
}

a.k-button.k-cancel-button
{
    padding-top: 7px;
    width: 80px;
    height: 40px;
}

.footImage-section {
    width: 60%;
    text-align: center;
    padding-top: 25px;
    
    
}
#footImage
{    
    width: 100%;
    padding-bottom: 25px;
}

.product-view
{
    display: inline-block;
   
    //position: relative;
   // display: inline; 
   // width: 50%;
   // height: 50%;
    //padding-left: 50%;
   // padding-right: 50%;
    //margin: 0 -1px -1px 0;
}       

.k-listview
{
    border: 0;
    padding: 0;
    overflow: hidden;
    //min-height: 298px;
}


.k-pager-wrap
{
    border-top: 0;
}
span.k-invalid-msg
{
    position: absolute;
    margin-left: 6px;
}

.edit-buttons
        {
            
        }
.ajax-upload-dragdrop 
{
    display: inline-block;
    margin-top: 25px;
}
div.ajax-file-upload
{
    text-align: center;
    width: 150px;
}
.ajax-file-upload-statusbar
{
    display: inline-block;
}
div.chidLeft input
{
    position: relative;
    float: left;
}

div.chidLeft span
{
    position: relative;
    float: left;
}

div.actionButton
{
   text-align: right;
   
}
.product-conclude div
{
    //display: inline-block;
    
   // position: relative;
    //float: left;
   // margin: 2px;
    
    //left: 50%;
}       
#footImageConclude
{
    width: 100%;
    padding-bottom: 25px;
    
}
#footImageConclude div
{
    display: inline-block;
    
}
#footConclude-section
{
    width: 60%;
    text-align: center;
    
}